<p id="notice"><%= notice %></p>

<h1 class="head-title">All Skills</h1>
<%= link_to 'New skill', new_skill_path, class: "btn btn-default btn-xs" %><br><br>
    <% @skills.each do |skill| %>
      <div class="row">
        <div class="col-md-6">
          <strong>Skill:</strong> <%= skill.name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <% if current_user.admin? %>
            <%= link_to 'Edit', edit_skill_path(skill), class: "btn btn-default btn-xs" %>
            <%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %>
          <% end %>
        </div>
      </div></br>
    <% end %>


<br>
