<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
  
      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4"
      <%= f.label :name, "Name*" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :description, "Description*" %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-4">          
      <%= f.label :start_date, class: "control-label" %>
      <div class="input-group date" id='datepicker1'>
        <%= f.text_field :start_date, class: "form-control" %>
        <span class='input-group-addon'><i class='glyphicon glyphicon-th'></i></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">          
      <%= f.label :end_date, class: "control-label" %>
      <div class="input-group date" id='datepicker2'>
        <%= f.text_field :end_date, class: "form-control" %>
        <span class='input-group-addon'><i class='glyphicon glyphicon-th'></i></span>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :open, "Open*" %>
      <%= f.check_box :open %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%=f.label :project_id , "Associated Project*" %>
      <%= f.collection_select :project_id, @projects, :id, :name,
                              {include_blank: ''}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="row">
    <div class=" form-group col-md-4">
      <%=f.label :location_id , "Location*" %>
      <%= f.collection_select :location_id, @locations, :id, :name,
                              {include_blank: ''}, {class: 'form-control'} %>
    </div>
  </div>  
  <div class="row">
    <div class=" form-group col-md-4">
        <%=f.label :department_id , "Department*" %>
        <%= f.collection_select :department_id, @departments, :id, :name,
                                {include_blank: ''}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="row">
    <div class=" form-group col-md-4">
      <%=f.label :group_id , "Group*" %>
      <%= f.collection_select :group_id, @groups, :id, :name,
                              {include_blank: ''}, {class: 'form-control'} %>
    </div>
  </div>
  
  <div class="field">
          <%=f.hidden_field :user_id, {:value=> current_user.id} %>
  </div>
  <label>Needed Skills</label>
  <div class = "checkbox_field">
    <% @skills.each do |skill| %>
      <div class = "skill_name">
        <%= skill.name %>
      </div>
      <%= check_box_tag "request[skill_ids][]", skill.id, @request.skill_ids.include?(skill.id) %>
      <br>
    <% end %>
  </div>
  
  <div class="row">
    <div class="col-sm-2">
      <%= f.submit class: "btn btn-primary btn-sm" %>
    </div>
  </div>
  <% end %>
