<h1>Listing Requests</h1>
<div id="request_container">
  <%= will_paginate %>
  <% @requests.each do |request| %>
    <div class="each_request">
      <strong><%= request.name %>:</strong> <%= request.start_date %> - <%= request.end_date %>
      <% if request.start_date <= Date.today && Date.today <= request.end_date %>
        (In Progress)
      <% elsif request.start_date > Date.today %>
        (Not Yet Begun)
      <% else %>
        (Request Ended)
      <% end %><br>
      Posted by <%= request.user.full_name %> in <%= request.location.name %> Office (Group: <%= request.group.name %>)<br>
      Description: <%= request.description %><br>
      <% if owner_of?(request) %>
       <br> Responses:
        <% request.responses.each do |response| %>
          <div class="each_response">
            <%= link_to response.user.full_name, user_path(response.user) %>  Comment: <%= response.comment %>
            <% if request.assignees.include?(response.user) %>
              <%= link_to 'Unassign', destroy_assignment_path(current_assignment(request, response.user)), class: "btn btn-danger btn-xs", :method => :delete %>
            <% else %>
              <%= link_to 'Assign', create_assignment_path(request_id: request, user_id: response.user), class: "btn btn-primary btn-xs", :method => :post %>
            <% end %>
          </div>
        <% end %>
      <% elsif request.assignees.include?(current_user) %>
        You've been assigned to this request!
      <% elsif !request.open? %>
        No longer accepting responses to this request.
      <% elsif request.responders.include?(current_user) %>
        <%= link_to 'Modify  Response', edit_request_response_path(request, current_response(request,current_user)), class: "btn btn-primary btn-sm" %>
        <%= link_to 'Revoke Reponse', request_response_path(request, current_response(request,current_user)), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
      <% else %>
        <%= link_to 'Respond to Request.', new_request_response_path(request), class: "btn btn-primary" %></td>
      <% end %>
    </div><br>
  <% end %>
  <% will_paginate %>
</div>


<%= link_to 'New Request', new_request_path %>
