<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :name, "Name*" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :description, "Description*" %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">          
      <%= f.label :start_date, "Start Date*", class: "control-label" %>
      <div class="input-group date" id='datepicker1'>
        <%= f.text_field :start_date, class: "form-control" %>
        <span class='input-group-addon'><i class='glyphicon glyphicon-th'></i></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">          
      <%= f.label :end_date, "End Date", class: "control-label" %>
      <div class="input-group date" id='datepicker2'>
        <%= f.text_field :end_date, class: "form-control" %>
        <span class='input-group-addon'><i class='glyphicon glyphicon-th'></i></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :user_id, "Project Owner*" %><br>
      <%= f.collection_select :user_id, @users, :id, :full_name,{include_blank: ""}, {class: 'form-control'} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <%= f.submit class: "btn btn-primary btn-sm" %>
    </div>
  </div>
<% end %>
