<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<% if @projects.any? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Project Lead</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.description %></td>
          <td><%= project.start_date %></td>
          <td><%= project.end_date %></td>
          <td><%= project.user.full_name %></td>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td>
            <% if current_user.admin? || owner_of?(project)%>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <div class="center_text">
    There are no active projects
  </div>
<% end %>

<br>

<%= link_to 'New Project', new_project_path %>
