<div id="request_container">
<%= will_paginate %>
<% @requests.each do |request| %>
  <div class="each_request">
    <div class="row">
      <h4><%= request.name %>:</h4> <%= request.start_date.to_s(:long) %> - <%= request.end_date.to_s(:long) %>
      <% if request.start_date <= Date.today && Date.today <= request.end_date %>
        (In Progress)
      <% elsif request.start_date > Date.today %>
        (Not Yet Begun)
      <% else %>
        (Request Ended)
      <% end %>
    </div>
    <div class="row">
      Description: <%= request.description %><br>
    </div>
    <div class="row">
       Required Skills:
      <ul>
        <% request.needed_skills.each do |skill| %>
          <li>
            <%= skill.skill.name %>: 
            <% if skill.proficiency.nil? %>
              No Level
            <% else %>
              <% skill.proficiency.level.to_i.times do |n| %>
                <%= tag("span", class: ["glyphicon", "glyphicon-star"]) %>
                <%= tag("/span") %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    </div><br>
    <% if request.assignees.include?(current_user) %>
      You've been assigned to this request!
    <% else request.responders.include?(current_user) %>
      <div class="row">
        <div class="col-md-6 each_response">
          <strong>My Response:</strong> <%= current_response(request, current_user).comment %>
          <div class="row">
            <div class="col-md-6 separator">
              <%= link_to 'Modify  Response', edit_request_response_path(request, current_response(request,current_user)), class: "btn btn-primary btn-xs" %>
              <%= link_to 'Revoke Reponse', request_response_path(request, current_response(request,current_user)), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><br><br>
<% end %>
<% will_paginate %>
</div>